html,
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
    text-align: center;  
    justify-items: center;
    align-items: center;
    width: 100%;
    display: grid;

}

.main {
    display: grid;
    grid-template-columns:3,1fr;
    grid-column: 2;
    justify-content: center;
    align-items: center;
    width:auto;
}

input {
    display: flex;
    justify-content: center;
}

button {
    width: 35px;
    display: inline-block;
    
     
}
.main > * {
    display: flex;
    justify-content: center;
    align-items: center;
}