html,
body {
  margin: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

header {
    text-align: center;  
    justify-items: center;
    align-items: center;
    width: 100%;
    display: grid;

}

main {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    align-items: center;
    width:auto;
}